@media screen and (max-width: 799px) {
	.split {
		width: 100%;
		p {
			max-width: 100%;
		}
	}
	.attributions div {
		margin: 30px;
	}
	.product {
		margin-bottom: 60px;
		.button {
			padding: 10px;
			display: flex;
			justify-content: center;
			width: 50%;
			margin: 10px;
		}
	}
	.product-functions {
		li {
			margin: 10px;
		}
	}
	.three-col {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 350px) { // for poteter
	.slide-overlay img {
		width: 25% !important;
	}
}