// Animations

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

// Mission control center

#dragon-2 {
  animation: rotation 10s infinite linear;
  animation-direction: alternate;
}

#falcon-9 {
}
