form {
  text-align: center;
  * {
    margin: 10px 0 0 0;
  }
  label {
    display: block;
    span {
      display: block;
    }
    input {
      padding: 5px 20px 5px 5px;
    }
    textarea {
      padding: 5px;
      width: 560px;
      height: 160px;
      @media screen and (max-width: 650px) {
        width: 90%;
      }
    }
  }
  button {
    padding: 10px 25px;
  }
}
