/*
	General colors and typography
*/

html {
	background-color: $dark;
}

header {
	background-color: ghostwhite;
}

body {
	@include font;
	font-size: $default-font-size;
	background-color: $back-color;
	color: $light;
	line-height: $default-line-heigth;
	a {
		color: $link;
	}
}

/*
	Wrappers
*/

.wrapper {
	@include clearfix;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	padding-right: 10px;
	padding-left: 10px;
}

/*
	Headings
*/

$i: 1;
$o: 34;
@while $i < 7 {
	h#{$i} {
		$o: $o - 4px;
		font-size: $o;
		font-weight: bold;
		text-align: center;
		margin: ($air * 2) 0 $air 0;
		$i: $i+1;
	}
	//ref: https://stackoverflow.com/questions/34877603/sass-for-h1-h6-style
}

ol {
	list-style: decimal inside;
}

p {
	margin-bottom: $air;
	line-height: 145%;
}

b {
	font-weight: bold;
}

.clear {
	clear: both;
}
